body {
  font-family: Noto Sans;
  background-color: #fafafa;
}

p, div {
  font-family: Noto Sans;
}

#home {
  position: relative;
  left: 50%;
}

.link:hover {
  text-decoration: none;
}

.central {
  text-align: center;
  left: 50%;
}

.description {
  position: relative;
  margin-left: 50px;
}

.post-box {
  background-color: #ffffff;
  position: relative;
  width: 500px;
  padding: 47px;
  border: 1px solid #e7e7e7;
  left: 89px;
  border-radius: 5px;
}

a.navbar-brand {
  font-family: Lobster Two;
  font-size: 29px;
  width: 150px;
}

#navbar-container.container {
  width: 700px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#main-container.container.container.container {
  width: 700px;
  text-align: center;
}

#navbar.navbar-default {
  background-color: #ffffff;
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  margin-top: 5%;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}
