body {
  font-family: Noto Sans;
  background-color: #fafafa;
}

p, div {
  font-family: Noto Sans;
}

#home {
  position: relative;
  left: 50%;
}

.link:hover {
  text-decoration: none;
}

#likes-link {
  text-decoration: none;
}

.central {
  text-align: center;
  left: 50%;
  margin-left: 39px;
}

.description {
  position: relative;
  margin-left: 50px;
}

#description {
  font-family: Permanent Marker;
  font-size: 26px;
}

#comments {
  margin-left: -17%;
  text-align: left;
}

.post-box {
  background-color: #ffffff;
  position: relative;
  width: 500px;
  padding: 47px;
  border: 1px solid #e7e7e7;
  left: 89px;
  border-radius: 5px;
}

a.navbar-brand {
  font-family: Lobster Two;
  font-size: 30px;
  width: 162px;
}

#navbar-container.container {
  width: 635px;
  padding-top: 5px;
  padding-bottom: 7px;
}

#main-container.container.container.container {
  width: 700px;
  text-align: center;
}

#navbar.navbar-default {
  background-color: #ffffff;
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 6px 10px 7px 35px;
  width: 102px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  margin-top: 6%;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

#well.well-lg {
  padding: 48px;
  border-radius: 6px;
  width: 600px;
}

#delete {
  bottom: -3.6em;
  left: -17em;
  position: relative;
}

.glyphicon:hover {
  color: #DF01D7;
}

.sign-up {
  position: relative;
  text-align: left;
  margin-left: 6%;
}

#user_username {
  position: relative;
  margin-left: 15%;
}

#user_email {
  position: relative;
  margin-left: 20.1%;
}

#user_password {
  position: relative;
  margin-left: 15.7%;
}

#user_password_confirmation {
  position: relative;
  margin-left: 1.6%;
}

#sign_up_button {
  text-align: center;
  margin-right: 6.2%;
}
